body {
    background-color: #f1f1f1;
    color: #000000;
    width: 100%;
}

.wrapper {
    background-color: #fff;
    padding: 10px;
}
.container {
    width: 860px;
    height: 860px;
    margin: 50px auto 50px auto;
    border: 1px solid #000066;
    background-color: #39251A;
}

.black {
    width: 100px;
    height: 100px;
    background-color: #482E21;
    float: left;
}

.white {
    width: 100px;
    height: 100px;
    background-color: #EED2AD;
    float: left;
}

.test {
    width:100px;
    height: 30px;
    text-align: center;
    background-color: #39251A;
    float: left;
    color: #ffffff;
    line-height: 30px;
}
.sidebar {
    color: #ffffff;
    width: 30px;
    height: 800px;
    margin-top: 30px;
    padding-toop: 30px;
    background-color: #39251A;
    float: left;
}

.test2 {
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.white-piece {
    width: 100px;
    line-height: 100px;
    color: #ffffff
}

.black-piece {
    width: 100px;
    line-height: 100px;
    color: #FF0000;
}